* {
    margin: 0;
}
:root {
    --background-color-transparent:#f9f9f924;
}

.layerOff {
    display: none;
}

.transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
  }

.layerStartModal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #fefefe;
    /* transition: all 0.5s; */
}

.layerModal{
    background-image: url(./Assets/background-gif.gif);
    max-width: 600px;
    height: 300px;
    background-color: #fefefe;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 200px;
    right: 0;
    margin: auto;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s;
}

.modalStart {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    height: 140px;
    background-color: var(--background-color-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    }

.modalButton {
    background-color:var(--background-color-transparent);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3ms;
}

.creditBg {
    display: flex;
    background-color: var(--background-color-transparent);
    align-items: center;
    justify-content: center;
}

.creditBg a {
    color: rgba(0, 0, 0, 0.419);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-indent: 2px;
}
.creditBg a:hover {
    color: white;
}

#modalStartGame {
    font-family: 'lobster', cursive;
    font-size: 20px;
    border-radius: 20px;
    border: solid 1px black;
    color: black;
    background-color: #fefefe;
    width: 150px;
    box-shadow: -4px 4px 2px gray;
    transition: all 0.3s;
}

#modalStartGame:hover {
    color: #fefefe;
    background-color: black;
}

#modalStartGame:active {
    transform: translateY(3px);
    box-shadow: -3px 2px 2px gray;
}

h1{
    padding: 5px;
    text-shadow: -4px 4px 2px #d4d4d4;
}

h1:first-child, h1:nth-child(2), h1:nth-child(3) {
    transition: color 0.5s;
}

h1:first-child:hover, h1:nth-child(2):hover, h1:nth-child(3):hover {
    color: #ececec;
    -webkit-text-stroke: black 1px;
}

.layerMenu  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20vh 70vh 10vh;
}

.headerMenu{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}

.textHeader{
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textHeader h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.logoProfileHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tictacGif {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tictacGif img {
    width: 50px;
    height: 50px;
}
.contentMenu {
    grid-column: 1/5;

    display: grid;
    grid-template-rows: 15vh 40vh 15vh ;
}

.layerChooseVs {
    /* position: fixed; */
    /* top: 320px; */
    /* width: 40vh;
    height: 40vh; */
    background-color: #fefefe;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    text-align: center;

    transition: opacity 0.3s;
    opacity: 1;
}

.layerChooseVs p {
    transition: opacity 0.3s;
    opacity: 1;
}

.layerChooseDivs{
    position: fixed;
    /* top: 40vh;
    bottom: 40vh;
    left: 40vw;
    right: 40vw; */
    
    height: 350px;
    width: 450px;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #fefefe;
}

.contentLayerUsers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contentLayerUsers button {
    width: 200px;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: -4px 4px 2px gray;
    transition: all 0.3s;
}

.contentLayerUsers button:hover {
    color: #fefefe;
    background-color: black;
}

.contentLayerUsers button:active {
    transform: translateY(3px);
    box-shadow: -3px 2px 2px gray;
}

.btnActive{
    color: #fefefe;
    background-color: black;
}

.contentLayerGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardGame {
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3,100px);
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    
    transition: opacity 0.5s;
    opacity: 1;

    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.092);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);

    transition: opacity 0.5s;
    opacity: 1;

}

.resultNotice {
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    width: 344px;
    height: 344px;
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: black;
    background-color: #fefefef8;
    border-radius: 20px;

    transition: opacity 0.5s;
    opacity: 1;
}

.contentLayerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

.contentLayerDetails p {
    transition: opacity 0.3s;
    opacity: 1;
}

.displayCaption{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    transition: opacity 0.5s;
    opacity: 1;
}

.displayResult{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 22px;
    font-family: 'Lobster', cursive;

    transition: opacity 0.5s;
    opacity: 1;
}

.displayCaption p, .displayResult p {
    transition: opacity 0.3s;
    opacity: 1;
}

.congratsDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 500px;
    height: 100px;
    border-radius: 20px;
    padding: 50px;

    transition: opacity 0.5s;
    opacity: 1;

    font-size: 32px;
    font-family: 'Lobster', cursive;
    background-color: #fefefef6;
}


.dissappearAnimation{
    opacity: 0;
}

.blurBg{
    backdrop-filter: blur(2px);
}

.footerMenu {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerMenu p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}